/* style sheet for my website */
body {
	background-color:beige;}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: lightgrey;
  border: 1px solid grey;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;

}

/* Change the link color on hover */
li a:hover {
  background-color: #555;
  color: white;
}
hr {
	position:relative;
	width:100%;
	border: 0.5px solid darkgrey;
	color: black;
       
}
.div1 {
	position:relative;
        left:0%;
        width:150px;
      height:400px;
	/* border: 3px solid #73AD21; */
}
.div2 {
	position:absolute;
	width:600px;
	left:180px;
	height:400px;
	/* border: 1px solid ; */
}	

.div3 {
	position:relative;
	left:0%;
	width:942px;
	/* border: 3px solid #73AD21; */
}
.div4 {
	position:absolute;
	top:92px;
	width:150px;
	left:800px;
	height:400px;
	/* border: 3px solid #73AD21; */
}

.div5 {
	width:942px;
}
